/* Global Styles

font-family: 'Open Sans', sans-serif;
font-family: 'Monoton', cursive;

*/

  html {
    font-size: 14px;
  }

  body {
    /*background-color: #ccc;*/
    font-family: 'Open Sans', sans-serif;
  }

  .img-container {
    overflow: hidden;
  }

/* Nav */

  nav {
    background-color: white;
  }

  .navbar-default .navbar-nav li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
  }

  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover {
    color: #399bd1;
    background-color: #f8f8f8;
  }

/* Jumbotron */

  .carousel .jumbotron {

    background-position: center;
    background-size: cover;
    padding-top: 11.85rem;
    /*padding-bottom: 11.85rem;*/
    text-align: center;
    height: 44rem;
  }

  .carousel .jumbotron h1{
    font-family: 'Monoton', cursive;
    font-size: 7.1rem;
    color: white;
    text-shadow: -1px -1px 0 #000,
                  1px -1px 0 #000,
                 -1px 1px 0 #000,
                  1px 1px 0 #000;
  }

  .carousel .jumbotron p {
    margin: 0 auto;
    color: white;
    width: 51.3rem;
  }

  .carousel-btn a {
    margin-top: 2.8rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    width: 11.4rem;
    background-color: #399bd1;
    border: 0;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    -webkit-transition: box-shadow 0.5s; /* Safari */
    transition: box-shadow 0.5s;
  }

  .carousel-btn a:hover {
    background-color: #399bd1;
    box-shadow: 0 0 12px rgba(0,0,0,0.9);
  }

  .carousel-btn a:active,  .carousel-btn a:focus {
    background-color: #399bd1;
    box-shadow: 0 0 0 rgba(0,0,0,0.5);
  }

  .jumbotron-bike {
    background-image: url('../images/jumbotron-bike.jpg');
  }

  .jumbotron-beer {
    background-image: url('../images/jumbotron-beer.jpg');
  }

  .jumbotron-duffel {
    background-image: url('../images/jumbotron-duffel.jpg');
  }

  .jumbotron-flowers {
    background-image: url('../images/jumbotron-flowers.jpg');
  }

  .carousel-btn {
    width: 100%;
    text-align: center;
    position: relative;
    top: -210px;
  }

  /* Featured */

  #featured {
    margin-top: -7rem;
  }

  #featured .img-container {
    margin-bottom: 1.8rem;
    height: 19rem;
  }

  #featured img {

  }

  #featured img:hover {
    max-width: 120%;
  }

  #featured h2, #featured h3 {
    font-weight: bold;
  }

  #featured h2 {
    color: #399bd1;
    font-size: 1.7rem;
    margin-bottom: 20px;
  }

  #featured h3 {
    font-size: 1.3rem;
    margin-top: 0;
  }

  #featured h3.blue {
    color: #399bd1;
  }

  #featured li {
    line-height: 1.4rem;
    color: rgba(0,0,0,0.7);
  }

  /* Projects */

  #projects {
    padding-bottom: 5.85rem;
  }

  #projects .img-container {
    margin-bottom: 1.8rem;
    height: 13.5rem;
  }

  #projects img {
    width: 100%;
  }

  #projects h2, #projects h3 {
    font-weight: bold;
  }

  #projects h2 {
    color: #399bd1;
    font-size: 1.7rem;
    margin-bottom: 20px;
  }

  #projects h3 {
    font-size: 1.3rem;
    margin-top: 0;
  }

  /* Footer */

  #footer {
    padding-top: 5.2rem;
    padding-bottom: 5.2rem;
    margin-bottom: 0;
    text-align: center;
    background-color: #f3f3f3;
  }

  #footer h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  #footer p {
    font-size: 1rem;
    width: 42rem;
    margin: 0 auto;
    margin-top: 1.4rem;
  }

  #footer a {
    margin-top: 2.8rem;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    width: 11.4rem;
    background-color: #399bd1;
    border: 0;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    -webkit-transition: box-shadow 0.5s; /* Safari */
    transition: box-shadow 0.5s;
  }

  #footer a:hover {
    background-color: #399bd1;
    box-shadow: 0 0 12px rgba(0,0,0,0.9);
  }

  #footer a:active,  #footer a:focus {
    background-color: #399bd1;
    box-shadow: 0 0 0 rgba(0,0,0,0.5);
  }
